
/* ------------ background ------------ */
body{
    background-color: #d5e6f5 !important;
    background-repeat: no-repeat;
    font-family: 'Titillium Web', sans-serif;
  
}

/* ------------ container ------------ */
.container{
    padding:3%; 
    width: 380px;

}


/* ------------ header ------------ */
.header{
    width: 380px;
    height:200px;
    margin:0 auto; 
    border-radius: 15px 15px 0 0;
    position: relative;
    background-image: url(./header-img.jpeg);
    background-size:cover;
    
}
/* ------------ refresh icon ------------ */
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}

/* ------------ date ------------ */
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}

/* ------------ todolist content ------------ */
.content{
    width:380px;
    height: 350px;
    margin:0 auto; 
    max-height:350px;
    background-color: #FFF;
    overflow: auto;
    box-shadow: 4 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

}
.content::-webkit-scrollbar { 
    display: none; 
}
/* ------------ input framework ------------ */
.content ul{
    padding:2px;
    margin:2px;
}
/* ------------ new task ------------ */
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}

.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: #FFF;
    max-width:285px;
}


.text{
  color: rgb(123,110,102);
}

.text-ch{
  color: rgb(123,110,102);
  text-decoration: line-through #93cf13;
}
.checked-grn{
  color:#93cf13;
  
}

